<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,170,0.6) 0%, rgba(0,35,60,0.6) 50%), url(<%= image_url('lillies.jpg') %>);">
  <div class="banner-content">
    <h1>Ecommerce Template</h1>
      <a class="navigation_link" href="/">
        Home
      </a>
  </div>
</div>

<div class="flex">
  <div class="card">
    <%= image_tag "loupe.svg" %>
    <div class="how-it-works-text">
      <h3>Find it</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "001-chef.svg" %>
    <div class="how-it-works-text">
      <h3>Find it</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "002-medical.svg" %>
    <div class="how-it-works-text">
      <h3>Find it</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
</div>
<!-- Products -->
<div class="container">
<% @products.in_groups_of(3) do |products| %>

  <div class="row">
    <div class="product-card">
      <h1><%= product.name %></h1>
      <%= cl_image_tag product.photo %>
    </div>
  </div>
<% end %>
</div>


<div class="home-page">
<ol>
  <section class="home-page_first-section">
  <li>Stripe</li>
    <h3>FIRST SECTION</h3>
  <li>Devise</li>
  </section>
  <li>MoneyRails</li>
  <section class="home-page_second-section">
  <li>Admin backend</li>
    <h3>SECOND SECTION</h3>
</ol>
  </section>
  <section class="home-page_third-section">
    <h3>THIRD SECTION</h3>
  </section>
</div> 
