<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,170,0.6) 0%, rgba(0,35,60,0.6) 50%), url(<%= image_url('lillies.jpg') %>);">
  <div class="banner-content">
    <h1>Ecommerce Template</h1>
      <a class="navigation_link" href="/">
        Home
      </a>
  </div>
</div>
<!-- How it works -->
<% if false %>
<h3 class="mb-2 mt-4 bold" style="text-align: center;">How it works: Some graphics</h3>
<div class="how-it-works-banner">
  <div class="how-it-works-card">
    <%= image_tag "loupe.svg" %>
    <div class="how-it-works-text">
      <h3>Find ait</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
  <div class="how-it-works-card">
    <%= image_tag "002-medical.svg" %>
    <div class="how-it-works-text">
      <h3>View it</h3>
      <p></p>
    </div>
  </div>
  <div class="how-it-works-card">
    <%= image_tag "001-chef.svg" %>
    <div class="how-it-works-text">
      <h3>Cook it</h3>
      <p>Wahoo</p>
    </div>
  </div>
</div>
<% end %>

<div class="flex">
  <div class="card">
    <%= image_tag "loupe.svg" %>
    <div class="how-it-works-text">
      <h3>Find ait</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "001-chef.svg" %>
    <div class="how-it-works-text">
      <h3>Find ait</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "002-medical.svg" %>
    <div class="how-it-works-text">
      <h3>Find ait</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
</div>
<!-- Products -->
<% @products.each do |product| %>
  <div class="card">
    <h1><%= product.name %></h1>
  </div>
<% end %>
