<% if false %><p id="notice"><%= notice %></p> <% end %>
<%= render 'shared/header', text: "FLOW CBD TINCTURE" %>


<%#= link_to 'Back', products_path %>  
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= cl_image_tag(@product.photo_url, class: "image-responsive") %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1><%= @product.name %></h1>
      <p>Some awesome description of our amazing product.</p>
      <div class="product-info">
        <span><p>Amount: </p></span>
        <p><span id="price">£<%= humanized_money(@product.price) %></span></p>
      </div>
      <div class="product-info">
        <span><p>Quantity</p></span>
        <%= simple_form_for(@cart_item, {wrapper: :vertical_col}) do |f| %>
          <%= f.input :quantity, collection: 1..9, selected: 1, label: false, class: "form-dropdown"%>
          <%= f.hidden_field :product_id, value: @product.id %>
      </div>
      <div class="product-info">
        <span><p>Strength</p></span>
          <%= f.input :strength, collection: 1..5, selected: 1, label: false%>
      </div>
      <div class="product-submit">
          <%= f.submit "Purchase", class: "btn btn-primary" %>
        <% end %>
      </div>
      <% if false %>
      <%= simple_form_for(@order, {wrapper: :vertical_collection}) do |f| %>
        <%= f.input "Quantity", required: false, collection: 1..9, as: :select, input_html: {id: "dropdown"}, selected: 1 %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit "Purchase", class: "btn btn-primary" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
<% end %>

